[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/tmuxline.vim"]
	path = bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-ditto"]
	path = bundle/vim-ditto
	url = https://github.com/dbmrq/vim-ditto.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-lexical"]
	path = bundle/vim-lexical
	url = https://github.com/preservim/vim-lexical.git
[submodule "bundle/vim-litecorrect"]
	path = bundle/vim-litecorrect
	url = https://github.com/preservim/vim-litecorrect.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/preservim/vim-markdown.git
[submodule "bundle/vim-pencil"]
	path = bundle/vim-pencil
	url = https://github.com/preservim/vim-pencil.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-wordy"]
	path = bundle/vim-wordy
	url = https://github.com/preservim/vim-wordy.git
[submodule "bundle/vimagit"]
	path = bundle/vimagit
	url = https://github.com/jreybert/vimagit.git
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "bundle/vison"]
	path = bundle/vison
	url = https://github.com/Quramy/vison.git
[submodule "bundle/vim-markdown-enhancements.git"]
	path = bundle/vim-markdown-enhancements.git
	url = https://github.com/mattly/vim-markdown-enhancements.git
[submodule "/home/averagejoey2000/.vim/bundle/vim-commentary"]
	path = /home/averagejoey2000/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "/home/averagejoey2000/.vim/bundle/vim-tmux"]
	path = /home/averagejoey2000/.vim/bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "bundle/dracula"]
	path = bundle/dracula
	url = git@github.com:dracula/vim.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rhubarb"]
	path = bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
